<form [formGroup]="bookForm">
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn" type="text" class="form-control" id="isbn">

    <div class="feedback-error" *ngIf="false">
      Bitte geben Sie eine gültige ISBN an!
    </div>
  </div>

  <div class="form-group">
    <label for="title">Titel</label>
    <input formControlName="title" type="text" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea formControlName="description" type="text" class="form-control" id="description"></textarea>
  </div>

  <button type="submit"
    class="btn btn-primary mb-4">
    Erzeuge Buch
  </button>

</form>
