<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }} {{ '⭐️'.repeat(book.rating) }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <!-- TODO!
    ++ BAD PRACTICE ++
    1. Logik im Template
    2. Verstoß gegen Single Responsibility
    3. Immutability nicht berücksichtigt
    -->

    <button class="btn btn-secondary mr-2" (click)="book.rating = book.rating - 1">-1</button>
    <button class="btn btn-primary" (click)="book.rating = book.rating + 1">+1</button>


  </div>
</div>
